<?xml version="1.0" encoding="UTF-8"?>
<!-- 日志级别从低到高分为TRACE < DEBUG < INFO < WARN < ERROR < FATAL，如果设置为WARN，则低于WARN的信息都不会输出 -->
<!-- scan:当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true -->
<!-- scanPeriod:设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。 -->
<!-- debug:当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
<configuration scan="true">
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <property resource="bootstrap.yml"/>
  <!-- 获取application中定义的属性。  -->
  <springProperty scope="context" name="fileName" source="logging.file.name"/>
  <springProperty scope="context" name="filePath" source="logging.file.path"/>

  <property name="colorfulPattern" value="%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %red([%thread]) %boldMagenta(%logger{36}) - %green(%msg%n)" />

  <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n" />

  <!--  控制台输出配置-->
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${colorfulPattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <!-- 系统日志输出 -->
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${filePath}/${fileName}.log</file>
    <!-- 循环政策：基于时间创建日志文件 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 日志文件名格式 -->
      <fileNamePattern>${filePath}/${fileName}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <!-- 日志最大的历史 7天 -->
      <MaxHistory>7</MaxHistory>
      <MaxFileSize>20MB</MaxFileSize>
      <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${pattern}</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <append>true</append>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <!-- 日志级别低于WARN的会过滤掉 -->
      <level>WARN</level>
    </filter>
  </appender>

  <root level="info">
    <appender-ref ref="console"/>
  </root>

  <!--  多环境配置-->
  <springProfile name="dev">
    <root level="info">
      <appender-ref ref="console"/>
      <appender-ref ref="file"/>
    </root>
  </springProfile>

  <springProfile name="test">
    <root level="info">
      <appender-ref ref="console"/>
      <appender-ref ref="file"/>
    </root>
  </springProfile>

  <springProfile name="prod">
    <root level="info">
      <appender-ref ref="console"/>
      <appender-ref ref="file"/>
    </root>
  </springProfile>

</configuration>